{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "www/custom/main.css" %}">
    {% include 'www/snippets/bootstraplibs.html' %}

    <title>donton - {{ window_title }}</title>
</head>
<body class="bg-light">
<main>
    {% include 'www/snippets/navigation.html' %}
    <div class="container d-flex align-items-center py-3 ">
        <div class="lh-1">
            <h2>{{ page_title }}</h2>
            <small>{{ page_subtitle }}</small>
        </div>
    </div>

    <div class="container">
        {{ content|safe }}
    </div>
    {% include 'www/snippets/footer.html' %}


</main>

{% include 'www/snippets/endofbody.html' %}

</body>
</html>