{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block additional_assets %}
    {% endblock %}

    {% include 'www/snippets/bootstraplibs.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "www/custom/main.css" %}">

    <title>pilon - {{ window_title }}</title>
</head>
<body class="bg-light">
<main>
    {% include 'www/snippets/navigation.html' %}
    <div id="wrapper">

        {% block sidebar %}
        {% endblock %}
        <div id="page-content-wrapper" class="bg-white">
            <div class="container-fluid mb-4">

                {% block title %}
                {% endblock %}

                <div class="container">
                    {% block content %}{% endblock %}

                </div>
            </div>
            {% include 'www/snippets/footer.html' %}

        </div>

    </div>


</main>

{% include 'www/snippets/endofbody.html' %}
<script type="application/javascript" src="{% static 'www/custom/sidebar.js' %}"></script>
</body>
</html>