{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'www/bootstraplibs.html' %}

    <title>donton - {{ window_title }}</title>
</head>
<body class="bg-light">
<main>
    {% include 'www/navigation.html' %}
    <div class="container d-flex align-items-center my-3 ">
        <div class="lh-1">k
            <h2>{{ page_title }}</h2>
            <small>{{ page_subtitle }}</small>
        </div>
    </div>

    <div class="container">
        {{ content }}
    </div>
    {% include 'www/footer.html' %}

</main>


{% include 'www/endofbody.html' %}

</body>
</html>