{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% include 'www/snippets/bootstraplibs.html' %}
    <link rel="stylesheet" type="text/css" href="{% static "www/custom/main.css" %}">

    <title>pilon - {{ window_title }}</title>
</head>
<body class="bg-light" style="padding-top:0;">
<nav id="navbar-top" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">pilon</a>
    </div>
</nav>
<main>

    <div id="wrapper">

        <div id="page-content-wrapper" class="">
            <div class="container-fluid mb-4">
                <div class="container d-flex align-items-center justify-content-center py-3 ">
                    {% include 'www/snippets/logo.html' %}
                </div>

                <div class="container">


                    <main class="login-form">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-8">
                                    <div class="card shadow-sm mb-5">
                                        <div class="card-header">Login</div>

                                        <div class="card-body">
                                            {% if logout %}
                                                <div class="alert alert-success" role="alert">
                                                    Logout successful.
                                                </div>
                                            {% endif %}

                                            {% if wrong_password %}
                                                <div class="alert alert-danger" role="alert">
                                                    Username/Password combination wrong.
                                                </div>
                                            {% endif %}

                                            <form action="" method="">
                                                <div class="form-group row my-1">
                                                    <label for="email_address"
                                                           class="col-md-4 col-form-label text-md-right">E-Mail
                                                        Address</label>
                                                    <div class="col-md-6">
                                                        <input type="text" id="email_address" class="form-control"
                                                               name="email-address" required autofocus>
                                                    </div>
                                                </div>

                                                <div class="form-group row my-2">
                                                    <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                                    <div class="col-md-6">
                                                        <input type="password" id="password" class="form-control"
                                                               name="password" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row  my-2">
                                                    <div class="col-md-6 offset-md-4">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox" name="remember"> Remember Me
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 offset-md-4">
                                                    <button type="submit" class="btn btn-primary">
                                                        Login
                                                    </button>
                                                    <a href="#" class="btn btn-link">
                                                        Forgot Your Password?
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </main>
                    {{ content|safe }}

                </div>
            </div>
            {% include 'www/snippets/footer.html' %}

        </div>

    </div>


</main>

{% include 'www/snippets/endofbody.html' %}
<script type="application/javascript" src="{% static 'www/custom/sidebar.js' %}"></script>
</body>
</html>