{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'www/snippets/favicon.html' %}
    {% include 'www/snippets/theme.html' %}
    <title>pilon - {{ window_title }}</title>
</head>
<body class="bg-light" style="padding-top:0;">
<nav id="navbar-top" class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "View Dashboard" %}">pilon</a>
    </div>
</nav>
<main>
    <div id="wrapper">
        {% block content %}{% endblock %}
    </div>
</main>
{% include 'www/snippets/endofbody.html' %}
</body>
</html>