{% extends "www/project/project/../project_base.html" %}
{% load static %}

{% block sidebar %}
    {% with active_sidebar_item="Journal" %}
        {{ block.super }}
    {% endwith%}
{% endblock %}

{% block window_title %}
    {% with window_title=project.name|add:" - Journal" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block title %}
    {% with page_title="Journal" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block sidebar_lower_content %}

    <link href='{% static "www/flatpickr/flatpickr.css" %}' rel='stylesheet'/>

    <div class="container">
        <input type="text" class="form-control d-none" id="sidebar-journal-calendar">

    </div>


{% endblock %}


{% block additional_scripts_eob %}
    <script src='{% static "www/flatpickr/flatpickr.js" %}'></script>

    <script type="application/javascript">
        const now = new Date();
        const first_of_month = new Date(now.getFullYear(), now.getMonth(), 1);
        const last_of_month = new Date(now.getFullYear(), now.getMonth()+1,0);
        flatpickr("#sidebar-journal-calendar", {
            enableTime: false,
            dateFormat: "Y-m-d",
            inline: true,
            mode: "range",
            "locale": {
                "firstDayOfWeek": 1 // start week on Monday
            },
            defaultDate: [first_of_month, last_of_month]
        });
    </script>

{% endblock %}
{% block content %}
    {{ content }}


{% endblock %}
