{% extends "www/project/journal/journal_base.html" %}
{% load static %}


{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-start justify-content-between py-3 ">
                <div class="d-flex">
                    <div class="me-3">
                        {% with date=object.date %}
                            {% include "www/snippets/metadata/date_icon.html" %}
                        {% endwith %}
                    </div>
                    {% include "www/snippets/project/page_metadata.html" %}
                </div>
                {% include "www/snippets/project/page_buttons.html" %}
            </div>
        </div>

        <div class="card-body">
            {{ object.markdown_rendered | safe }}
        </div>
    </div>


    {% include "www/snippets/project/page_comments.html"  %}


{% endblock %}
