{% extends "www/base+sidebar+title.html" %}
{% load static %}
{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}

{% block additional_assets %}
    <link href='{% static "www/fullcalendar/custom.css" %}' rel='stylesheet'/>
    <link href='{% static "www/flatpickr/flatpickr.css" %}' rel='stylesheet'/>


{% endblock %}



{% block additional_scripts_eob %}
    <script src='{% static "www/flatpickr/flatpickr.js" %}'></script>
    <script src='{% static "www/fullcalendar/main.min.js" %}'></script>
    <script type="application/javascript">


        document.addEventListener('DOMContentLoaded', function () {

            function submit_create_form(event) {
                event.preventDefault();
                calendar.refetchEvents();
            }

            function send_event_change(eventInfo) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'schedule_edit_event' %}",
                    dataType: 'json',
                    data: {
                        "event_start": eventInfo.event.startStr,
                        "event_end": eventInfo.event.endStr,
                        "old_event_start": eventInfo.oldEvent.startStr,
                        "old_event_end": eventInfo.oldEvent.endStr,
                        "event_id": eventInfo.event.extendedProps.event_id,
                        "existed": eventInfo.event.extendedProps.existed,
                        "calendar": eventInfo.event.extendedProps.calendar,

                    },
                    success: function (result) {
                        calendar.refetchEvents();
                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                });
                return false;
            }

            flatpickr(".datetime-selector", {
                enableTime: true,
                dateFormat: "Y-m-d H:i",
                time_24hr: true,

            });


            const calendarEl = document.getElementById('full-calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                events: '{% url 'api_occurrences' %}?calendar_slug={{ project.key }}',
                timeZone: 'local',
                editable: true,
                initialView: 'dayGridMonth',
                firstDay: 1,
                themeSystem: 'bootstrap',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,dayGridWeek,timeGridDay createButton'
                },
                bootstrapFontAwesome: {
                    prev: ' bi bi-chevron-left',
                    next: ' bi bi-chevron-right',
                    prevYear: ' bi bi-chevron-double-left',
                    nextYear: ' bi bi-chevron-double-right',
                    close: 'bi bi-x'
                },
                customButtons: {
                    createButton: {
                        text: 'Add event...',
                        click: function () {
                            $('#calendar-new-event-modal').modal('show')
                        },
                    }
                },
                navLinks: true,
                navLinkDayClick: function (date) {
                    calendar.changeView('timeGridDay');
                    calendar.gotoDate(date);

                },
                eventResize: send_event_change,
                eventDrop: send_event_change,
            });
            calendar.render();
        });

    </script>
{% endblock %}


{% block content %}
    <div id="full-calendar" class="mx-2 row shadow">
    </div>


    <div id="calendar-new-event-modal" class="modal fade" tabindex="-1" data-bs-backdrop="static"
         data-bs-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form onsubmit="submit_create_form()" action="{% url 'schedule_create_event' %}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title" id="staticBackdropLabel">Create new event</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}

                        <input type="hidden" name="calendar_slug" value="{{ project.key }}">

                        <div class="input-group input-group-lg mb-1">
                            <input name="title" type="text" class="form-control" placeholder="Enter a title ..."
                                   aria-label="title"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <input name="location" type="text" class="form-control" placeholder="Enter a location ..."
                                   aria-label="title"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" style="width: 6em;">Start time</span>
                            <input name="start" type="text" class="form-control datetime-selector"
                                   placeholder="Click to select a time"
                                   aria-label="Start time"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 6em;">End time</span>
                            <input name="end" type="text" class="form-control datetime-selector"
                                   placeholder="Click to select a time"
                                   aria-label="End time"
                                   aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Create Event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}