{% extends "www/base+sidebar+title.html" %}
{% load static %}
{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}

{% block additional_assets %}
    <link href='{% static "www/fullcalendar/custom.css" %}' rel='stylesheet'/>
    <link href='{% static "www/flatpickr/flatpickr.css" %}' rel='stylesheet'/>


{% endblock %}



{% block additional_scripts_eob %}
    <script src='{% static "www/flatpickr/flatpickr.js" %}'></script>
    <script src='{% static "www/fullcalendar/main.min.js" %}'></script>
    <script src='{% static "www/fullcalendar/custom.js" %}'></script>
    <script type="application/javascript">

        document.addEventListener('DOMContentLoaded', function () {


            function submit_create_form(event) {
                event.preventDefault();
                calendar.refetchEvents();
            }

            function send_edited_event(eventInfo) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'schedule_edit_event' %}",
                    dataType: 'json',
                    data: {
                        "event_start": eventInfo.event.startStr,
                        "event_end": eventInfo.event.endStr,
                        "old_event_start": eventInfo.oldEvent.startStr,
                        "old_event_end": eventInfo.oldEvent.endStr,
                        "event_id": eventInfo.event.extendedProps.event_id,
                        "existed": eventInfo.event.extendedProps.existed,
                        "calendar": eventInfo.event.extendedProps.calendar,

                    },
                    success: function (result) {
                        calendar.refetchEvents();
                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                });
                return false;
            }

            function send_new_event(eventInfo) {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'schedule_create_event' %}",
                    dataType: 'json',
                    data: {
                        "title": eventInfo.title,
                        "start": eventInfo.start,
                        "end": eventInfo.end,
                        "calendar": eventInfo.calendar,
                        "location": eventInfo.location
                    },
                    success: function (result) {
                        calendar.refetchEvents();
                    },
                    error: function (req, status, error) {
                        console.log(error);
                    }
                });
                return false;
            }

            function formatDate(d) {
                let date = [
                    d.getFullYear(),
                    ('0' + (d.getMonth() + 1)).slice(-2),
                    ('0' + d.getDate()).slice(-2)
                ].join('-');
                date += " " + ('0' + d.getHours()).slice(-2) + ":" + ('0' + d.getMinutes()).slice(-2);
                return date

            }

            function open_edit_event_modal(eventInfo) {
                $("#calendar-event-modal-heading").text("Edit event " + eventInfo.event.title);
                $("#calendar-event-modal input[name='title']").val(eventInfo.event.title);
                $("#calendar-event-modal input[name='location']").val(eventInfo.event.extendedProps.description);
                $("#calendar-event-modal input[name='start']").val(formatDate(eventInfo.event.start));
                $("#calendar-event-modal input[name='end']").val(formatDate(eventInfo.event.end));
                $("#calendar-event-modal button[name='submit']").html("Edit Event");

                flatpickr("#calendar-event-modal input[name='start']", {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    time_24hr: true,
                });

                flatpickr("#calendar-event-modal input[name='end']", {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    time_24hr: true,
                });
                //$("#calendar-event-modal input[name='start']")._flatpickr.jumpToDate(eventInfo.event.start);
                $("#calendar-event-modal").modal('show');

            }

            function open_create_event_modal() {
                $("#calendar-event-modal-heading").text("Create new event");
                $("#calendar-event-modal input[name='title']").val("");
                $("#calendar-event-modal input[name='location']").val("");
                $("#calendar-event-modal input[name='start']").val("");
                $("#calendar-event-modal input[name='end']").val("");
                $("#calendar-event-modal button[name='submit']").html("Create Event");

                flatpickr("#calendar-event-modal input[name='start']", {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    time_24hr: true,
                });

                flatpickr("#calendar-event-modal input[name='end']", {
                    enableTime: true,
                    dateFormat: "Y-m-d H:i",
                    time_24hr: true,
                });
                //$("#calendar-event-modal input[name='start']")._flatpickr.jumpToDate(eventInfo.event.start);
                $("#calendar-event-modal").modal('show');
                $("#calendar-event-modal-form").on("submit", function (event) {
                    event.preventDefault();
                    const eventInfo = {}
                    eventInfo.title = $("#calendar-event-modal input[name='title']").val();
                    eventInfo.start = $("#calendar-event-modal input[name='start']").val();
                    eventInfo.end = $("#calendar-event-modal input[name='end']").val();


                    send_new_event()
                });
            }


            const calendarEl = document.getElementById('full-calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                events: '{% url 'api_occurrences' %}?calendar_slug={{ project.key }}',
                timeZone: 'local',
                editable: true,
                initialView: 'dayGridMonth',
                firstDay: 1,
                themeSystem: 'bootstrap',
                eventTimeFormat: { // like '14:30:00'
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                },
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,dayGridWeek,timeGridDay createButton'
                },
                bootstrapFontAwesome: {
                    prev: ' bi bi-chevron-left',
                    next: ' bi bi-chevron-right',
                    prevYear: ' bi bi-chevron-double-left',
                    nextYear: ' bi bi-chevron-double-right',
                    close: 'bi bi-x'
                },
                customButtons: {
                    createButton: {
                        text: 'Add event...',
                        click: open_create_event_modal,
                    }
                },
                navLinks: true,
                navLinkDayClick: function (date) {
                    calendar.changeView('timeGridDay');
                    calendar.gotoDate(date);

                },
                eventResize: send_edited_event,
                eventDrop: send_edited_event,
                eventClick: open_edit_event_modal,
            });
            calendar.render();
        });

    </script>
{% endblock %}


{% block content %}
    <div id="full-calendar" class="mx-2 row shadow">
    </div>


    <div id="calendar-event-modal" class="modal fade" tabindex="-1" data-bs-backdrop="static"
         data-bs-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="calendar-event-modal-form" action="{% url 'schedule_create_event' %}" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title" id="calendar-event-modal-heading">Create new event</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}

                        <input type="hidden" name="calendar_slug" value="{{ project.key }}">

                        <div class="input-group input-group-lg mb-1">
                            <input name="title" type="text" class="form-control" placeholder="Enter a title ..."
                                   aria-label="title"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <input name="location" type="text" class="form-control" placeholder="Enter a location ..."
                                   aria-label="title"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span class="input-group-text" style="width: 6em;">Start time</span>
                            <input name="start" type="text" class="form-control datetime-selector"
                                   placeholder="Click to select a time"
                                   aria-label="Start time"
                                   aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="width: 6em;">End time</span>
                            <input name="end" type="text" class="form-control datetime-selector"
                                   placeholder="Click to select a time"
                                   aria-label="End time"
                                   aria-describedby="basic-addon1">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" name="submit" class="btn btn-primary" data-bs-dismiss="modal">Create
                            Event
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}