{% extends "www/project/project_base.html" %}
{% load static %}

{% block window_title %}
    {% with window_title=project.name|add:" - Create content " %}
        {{ block.super }}
    {% endwith %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="card shadow-sm text-align-center">
                <span class="card-img-top"><i class="bi bi-file-text"></i></span>
                <div class="card-body">
                    <h5 class="card-title">Wiki Page</h5>
                    <p class="card-text">Store information in the project wiki.</p>
                    <a href="{% url "project:wiki-page-create" project.key %}" class="btn btn-primary">Create Wiki page</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url "wiki-page-create-from-file" project.key %}" class="card-link">Create from file...</a>
                    </li>
                </ul>
            </div>

        </div>

      <div class="col-md-5">
            <div class="card shadow-sm text-align-center">
                <span class="card-img-top"><i class="bi bi-journals"></i></span>
                <div class="card-body">
                    <h5 class="card-title">Journal Page</h5>
                    <p class="card-text">Create a new page in the journal.</p>
                    <a href="{% url "project:journal-page-create" project.key %}" class="btn btn-primary">Create Journal page</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="{% url "project:journal-page-create" project.key %}" class="card-link">Create from file...</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>


{% endblock %}
