{% extends "www/base.html" %}
{% load static %}
{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}
{% block content %}
    <div class="bg-white">

        <form action="{% url "wikipage-list" %}" method="post" id="markdown-create-form">
            {% csrf_token %}
            <input type="hidden" name="markdown" value="">
            <input type="hidden" name="parent"
                   value="http://localhost:8000/rest/entity/1078f5c6-cc92-4aa4-a3d5-60459f8c7eb8/">
            <div class="py-3 justify-content-between d-flex align-items-center">
                <div>
                    <h6 class="display-6 mb-0">{{ page_title }}</h6>
                </div>
                <div>
                    <a href="{% url "project:homepage" project_key %}">
                        <button type="reset" class="btn btn-link">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Publish</button>
                </div>
            </div>
            <div class="input-group input-group-lg my-3">
                <span class="input-group-text" id="page-name">Page Name</span>
                <input name="name" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="page-name">
            </div>
            {% include 'www/snippets/editor.html' %}
        </form>
        <script type="application/javascript">
            const markdownForm = document.getElementById("markdown-create-form");
            markdownForm.addEventListener("submit", function (e) {
                e.preventDefault();
                markdownForm.markdown.value = editor.getMarkdown();
                console.log(markdownForm.markdown.value);
                //markdownForm.submit();
            })
        </script>
    </div>

{% endblock %}
