{% extends "www/base.html" %}
{% load static %}
{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}

{% block content %}
    <div class="bg-white">
        <div class="py-3 justify-content-between d-flex align-items-center">
            <div>
                <h6 class="display-6 mb-0">{{ page_title }}</h6>
            </div>
            <div>
                <a href="/p/c/{{ project_key }}"> <button type="reset" class="btn btn-link">Cancel</button></a>
                <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Publish</button>
            </div>
        </div>
        {% include 'www/snippets/editor.html' %}
    </div>

{% endblock %}

