{% extends "www/base+title.html" %}
{% load static %}




{% block content %}

    {{ content }}

    <table class="table table-bordered" data-toggle="table">
        <thead class="thead-light">
        <tr class="th">
            <th scope="col">Name</th>
            <th scope="col">Key</th>
            <th scope="col">Labels</th>
        </tr>
        </thead>
        {% for project in projects %}
            <tr>
                <td><a href="{% url "Project Homepage" project.key %}">{{ project.name }}</a></td>
                <td>{{ project.key }}</td>
                <td>{{ project.labels }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
