{% extends "www/project/project_base.html" %}
{% load static %}

{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}


{% block sidebar_lower_content %}
    <link rel="stylesheet" type="text/css"
          href="{% static "www/toastui/tree/node_modules/tui-tree/dist/tui-tree.css" %}">

    <div class="bg-light">
        <h6 class="mx-2 my-2">Wiki Page Tree</h6>
        <div id="tree" class="tui-tree-wrap">
        </div>
    </div>
{% endblock %}


{% block breadcrumbs %}
 <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "project:homepage" project.key %}">{{ project.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "project:wiki" project.key %}">Wiki</a></li>
            {% for ancestor in ancestors %}
                <li class="breadcrumb-item"><a href="{% url "Content by UID" ancestor.id%}">{{ ancestor.name }}</a></li>
            {% endfor %}
        </ol>
    </nav>
{% endblock %}


{% block additional_scripts_eob %}

{% include "www/snippets/page-tree.html" %}
{% endblock %}