{% extends "www/base+sidebar+title.html" %}
{% load static %}

{% block navigation %}{% include 'www/snippets/navigation-create-button.html' %}{% endblock %}


{% block sidebar_lower_content %}
    <link rel="stylesheet" type="text/css"
          href="{% static "www/toastui/tree/node_modules/tui-tree/dist/tui-tree.css" %}">

    <div class="bg-light">
        <h6 class="mx-2 my-2">Wiki Page Tree</h6>
        <div id="tree" class="tui-tree-wrap">
        </div>
    </div>
{% endblock %}

{% block content %}

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "Project Homepage" project.key %}">{{ project.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url "Project Wiki" project.key %}">Wiki</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>

    <div class="d-flex align-items-start justify-content-between pb-3 ">
        <div class="lh-1">
            <h2 class="display-4">Pagetitle</h2>
            <div>
                <a class="badge bg-secondary" href="#">label1</a>
                <a class="badge bg-secondary" href="#">label1</a>
                <a class="badge bg-secondary" href="#">label1</a>
                <a class="badge bg-secondary" href="#">label1</a>
                <a class="badge bg-secondary" href="#">label1</a>
                <button class="badge btn text-dark" data-bs-toggle="modal" data-bs-target="#edit-labels-modal">Edit
                    labels...
                </button>
                <div class="modal fade" id="edit-labels-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit labels</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <a href="#">
                <button class="btn btn-light"><i class="bi bi-pencil-square"></i> Edit</button>
            </a>
            <a href="#">
                <button class="btn btn-light"><i class="bi bi-share-fill"></i> Share</button>

            </a>
        </div>
    </div>
    {{ content }}

{% endblock %}


{% block additional_scripts_eob %}
    <script type="application/javascript"
            src="{% static "www/toastui/tree/node_modules/tui-tree/dist/tui-tree.min.js" %}"></script>

    <script type="application/javascript">

        const data = [
            {
                text: 'rootA', children: [
                    {text: 'sub-A1'},
                    {text: 'sub-A2'},
                    {text: 'sub-A3'},
                    {text: 'sub-A4'},
                    {
                        text: 'sub-A5', state: 'closed', children: [
                            {
                                text: 'sub-A5A', children: [
                                    {text: 'sub-A5A1'}
                                ]
                            },
                            {text: 'sub_A5B'}
                        ]
                    },
                    {text: 'sub-A6'},
                    {text: 'sub-A7'},
                    {text: 'sub-A8'},
                    {
                        text: 'sub-A9', state: 'closed', children: [
                            {text: 'sub-A9A'},
                            {text: 'sub-A9B'}
                        ]
                    },
                    {text: 'sub-A10'},
                    {text: 'sub-A11'},
                    {text: 'sub-A12'}
                ]
            },
            {
                text: 'rootB', state: 'closed', children: [
                    {text: 'sub-B1'},
                    {text: 'sub-B2'},
                    {text: 'sub-B3'}
                ]
            }
        ];


        const tree = new tui.Tree('#tree', {
            data: data,
            nodeDefaultState: 'opened',
            usageStatistics: false,


        });
    </script>

{% endblock %}