{% load static %}
<div id="editor" class="shadow-sm "></div>


<link rel="stylesheet" href="{% static "www/toastui/editor/codemirror.min.css" %}"/>
<link rel="stylesheet" href="{% static "www/toastui/editor/toastui-editor.min.css" %}"/>
<link rel="stylesheet" href="{% static "www/toastui/editor/custom.css" %}"/>


<script src="{% static "www/toastui/editor/toastui-editor-all.min.js" %}"></script>
<script type="application/javascript">
    const editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        height: '60vh',
        initialEditType: 'wysiwyg',
        previewStyle: 'tab',
        usageStatistics: false
    });
</script>
