$white:    #fff !default;
$gray-100: #fafbfc !default;
$gray-200: #f6f8fa !default;
$gray-300: #e1e4e8 !default;
$gray-400: #d1d5da !default;
$gray-500: #959da5 !default;
$gray-600: #6a737d !default;
$gray-700: #586069 !default;
$gray-800: #444d56 !default;
$gray-900: #2f363d !default;
$black:    #24292e !default;

$marine:    #1b1f23 !default;
$indigo:  #6610f2 !default;
$red: #d73a49 !default;
$darkred: #9e1c23 !default;
$pink:    #ea4aaa !default;
$darkpink: #99306f !default;
$orange: #f66a0a !default;
$darkorange: #c24e00 !default;
$yellow: #ffd33d !default;
$darkyellow: #b08800 !default;
$green: #28a745 !default;
$darkgreen: #165c26 !default;
$teal: #2bcbba !default;
$darkteal: #0fb9b1 !default;
$blue: #0366d6 !default;
$darkblue: #2d98da !default;
$blue2: #4979ea !default;
$blue3: #0d6efd !default;
$darkblue2: #104b7f !default;
$purple: #a55eea !default;
$darkpurple: #8854d0 !default;
$gray: #d1d8e0 !default;
$darkgray: #a5b1c2 !default;
$bluegray: #778ca3 !default;
$darkbluegray: #4b6584 !default;

$charcoal: #373333 !default;
$darkcharcoal: #171111 !default;


$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $charcoal !default;