$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #666 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black:    #000 !default;

$marine:    #2c3e50 !default;
$indigo:  #6610f2 !default;
$red: #fc5c65 !default;
$darkred: #db2b3a !default;
$pink:    #e83e8c !default;
$orange: #fd9644 !default;
$darkorange: #fa8231 !default;
$yellow: #fed330 !default;
$darkyellow: #f7b731 !default;
$green: #287471 !default;
$darkgreen: #245347 !default;
$teal: #2bcbba !default;
$darkteal: #0fb9b1 !default;
$blue: #45aaf2 !default;
$darkblue: #2d98da !default;
$blue2: #4979ea !default;
$blue3: #0d6efd !default;
$darkblue2: #104b7f !default;
$purple: #a55eea !default;
$darkpurple: #8854d0 !default;
$gray: #d1d8e0 !default;
$darkgray: #a5b1c2 !default;
$bluegray: #778ca3 !default;
$darkbluegray: #4b6584 !default;

$charcoal: #373333 !default;
$darkcharcoal: #171111 !default;


$primary:       $indigo !default;
$secondary:     $gray-600 !default;
$success:       $teal !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $charcoal !default;