{% extends "www/base+title.html" %}

{% block content %}

    <form action="{% url "project-list" %}" method="POST" class="my-4">
        {% csrf_token %}
        <input type="hidden" name="redirect" value="">
        <div class="form-group row my-1"><label for="project_key" class="col-sm-2 col-form-label">Project Key</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="project_key" name="key"></div>
        </div>
        <div class="form-group row my-1"><label for="project_fullname" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10"><input type="text" class="form-control" id="project_fullname"
                                          name="name">
            </div>
        </div>
        <div class="form-group row my-3">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>

{% endblock %}
