{% extends "www/base.html" %}
{% load static %}


  <body>

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <div class="collapse navbar-collapse" id="navbarCollapse">


          {% if user.is_authenticated %}
      		  <form class="form-inline mt-2 mt-md-0" action="{% url 'todo:search' %}" method="get" placeholder="Search" aria-label="Search">
              <input type="text" name="q" value="" class="form-control mr-sm-2" id="q">
              <input type="submit" value="Search Tasks" class="btn btn-outline-success my-2 my-sm-0">
            </form>
          {% endif %}

        </div>
      </nav>
    </header>




    {% block extra_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    {% endblock extra_js %}

  </body>
