{% load static %}

<script src="{% static 'www/jquery/jquery-3.5.1.min.js' %}"></script>

<script src="{% static 'www/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script type="application/javascript">
    (function () {
        'use strict'
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
        document.querySelector('[data-bs-toggle="offcanvas"]').addEventListener('click', function () {
            document.querySelector('.offcanvas-collapse').classList.toggle('open')
        })
    })()
</script>