<nav id="navbar-top" class="navbar navbar-expand-md navbar-dark bg-navbar" aria-label="Main navigation">
    <div class="container-fluid">

        <a class="navbar-brand" href="{% url "View Dashboard" %}">pilon</a>
        <button class="navbar-toggler p-0 border-0" type="button" data-bs-toggle="offcanvas"
                aria-label="Toggle navigation">
            <span style="margin-right:1rem; color: white; font-style: italic">{{ navbar_centertext }}</span>

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse offcanvas-collapse d-flex justify-content-between" id="navbarsExampleDefault">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
                       aria-expanded="false">Projects</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown01">
                        <h6 class="dropdown-header">Recent Projects</h6>
                        <li><a class="dropdown-item" href="#">Not implemented, use directory</a></li>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Pinned Projects</h6>
                        <li><a class="dropdown-item" href="#">Not implemented, use directory</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="{% url "Project Directory" %}">Project
                            directory</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url "Create Project" %}">Create new project</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "View People" %}">People</a>
                </li>
                {% block main_nav_left %}{% endblock %}

            </ul>


            <ul class="nav mb-2 mb-md-0">
                <li class="nav-item navbar_centertext">
                    {% block main_nav_center %} {% endblock %}
                    <span style="color: white; font-style: italic">{{ navbar_centertext }}</span>
                </li>
            </ul>

            <ul class="nav">
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Search">
                    <a class="btn btn-icon nav-link bi bi-search mx-1" href="#"></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-icon  nav-link bi bi-list-check mx-1" href="#"
                       title="Your tasks" aria-expanded="false" id="tasks-dropdown" data-bs-toggle="dropdown"></a>

                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="tasks-dropdown">
                        <li><a href="#" class="dropdown-item">To-do Lists</a></li>
                        <li><a href="#" class="dropdown-item">My Tasks</a></li>
                        <li><a href="#" class="dropdown-item">File Ticket</a>
                        </li>
                        <li><a href="#" class="dropdown-item">Import</a></li>

                    </ul>

                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-icon  nav-link bi bi-chat-square-text-fill mx-1" href="#"
                       title="Message center" id="message-center-dropdown" data-bs-toggle="dropdown"
                       aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-end messages" aria-labelledby="message-center-dropdown">
                        <h6 class="dropdown-header">Message Center</h6>

                        {% if messages %}
                            {% for message in messages %}
                                <li{% if message.tags %}
                                    class="dropdown-item {{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="btn btn-icon nav-link bi bi-person-fill mx-1" href="#"
                       id="user-menu-dropdown" data-bs-toggle="dropdown"
                       aria-expanded="false"></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-menu-dropdown">
                        <li><a class="dropdown-item" href="/accounts/settings">User settings</a></li>
                        <li><a class="dropdown-item" href="/system-settings/global">System settings</a></li>
                        <div class="dropdown-divider"></div>
                        <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

