{% extends "www/base/base.html" %}
{% load static %}
{% block window_title %}
    {% with window_title=project.name|add:" - Create Wikipage" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block navigation %}
    {% with navbar_centertext=project.name %}
        {% include 'www/snippets/navigation-create-button.html' %}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="bg-white">

        <form action="." method="post" id="markdown-create-form">
            {% csrf_token %}
            <input type="hidden" name="markdown" value="">

            <div class="py-3 justify-content-between d-flex align-items-center">
                <div>
                    <h6 class="display-6 mb-0">Create Wiki Page</h6>
                </div>

            </div>

            <div class="input-group input-group-lg my-3">
                <span class="input-group-text" id="page-name">Page Name</span>
                <input name="name" type="text" class="form-control" aria-label="Page name"
                       aria-describedby="page-name">
            </div>
             <div class="input-group input-group-lg my-3">
                <span id="parent">Parent</span>
                <span type="text" aria-describedby="page-name"></span>
                <input type="hidden" name="parent"
                   value="{{ parent }}">
            </div>
            {% include 'www/snippets/editor.html' %}
            <div class="py-3 justify-content-end d-flex">
                    <a href="{% url "project:homepage" project.key %}">
                        <button type="reset" class="btn btn-link">Cancel</button>
                    </a>
                    <button type="submit" class="btn btn-primary">Publish Page</button>
            </div>
        </form>
        <script type="application/javascript">
            const markdownForm = document.getElementById("markdown-create-form");
            markdownForm.addEventListener("submit", function (e) {
                e.preventDefault();
                markdownForm.markdown.value = editor.getMarkdown();
                console.log(markdownForm.markdown.value);
                markdownForm.submit();
            })
        </script>
    </div>

{% endblock %}



