{% extends "www/project/wiki/wiki_base.html" %}
{% load static %}

{% block window_title %}
    {% with window_title=project.name|add:" - "|add:object.name %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <div class="d-flex align-items-start justify-content-between pb-3 ">
        <div class="lh-1">
            <h2 class="display-4">{{ object.name }}</h2>
            {% include "www/snippets/entity_metadata.html" %}

        </div>
        <div>
            <a href="{% url "project:wiki-page-edit" project.key object.id %}">
                <button class="btn btn-stealth"><i class="bi bi-pencil"></i> </button>
            </a>
            <a href="#">
                <button class="btn btn-stealth"><i class="bi bi-three-dots"></i> </button>

            </a>
        </div>

    </div>
    <div>
        {{ object.markdown_rendered | safe }}
    </div>
{% endblock %}
