{% extends "www/project/wiki/wiki_base.html" %}
{% load static %}

{% block window_title %}
    {% with window_title=object.name %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}

    <div class="d-flex align-items-start justify-content-between pb-3 ">
            {% include "www/snippets/project/page_metadata.html" %}
            {% include "www/snippets/project/page_buttons.html" %}
    </div>
    <div>
        {{ object.markdown_rendered | safe }}
    </div>
{% endblock %}
