{% extends "www/project/project/../project_base.html" %}
{% load static %}

{% block sidebar %}
    {% with active_sidebar_item="Team" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block window_title %}
    {% with window_title=project.name|add:" - Team" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block title %}
    {% with page_title="Team" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="my-3 p-3 ">
            <h6 class="d-flex align-items-end justify-content-between border-bottom pb-2 mb-0">
                <span>Owners</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>

        </div>
    </div>
    <div class="row">
        <div class="my-3 p-3 ">
            <h6 class="d-flex align-items-end justify-content-between border-bottom pb-2 mb-0">
                <span>Editors</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>

        </div>
    </div>

    <div class="row">
        <div class="my-3 p-3 ">
            <h6 class="d-flex align-items-end justify-content-between border-bottom pb-2 mb-0">
                <span>Guests</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>

        </div>
    </div>

{% endblock %}
