{% extends "www/project/project_base.html" %}
{% load static %}

{% block content %}
    <div class="card my-3">
        <div class="card-header">
            <h6 class="d-flex align-items-center justify-content-between">
                <span>Owners</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>
        </div>
        <div class="card-body">
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">
            <h6 class="d-flex align-items-center justify-content-between">
                <span>Editors</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>
        </div>
        <div class="card-body">
        </div>
    </div>
    <div class="card my-3">
        <div class="card-header">
            <h6 class="d-flex align-items-center justify-content-between">
                <span>Guests</span>
                <a href="#" class="btn btn-sm btn-light border btn-icon">
                    <i class="bi bi-person-plus-fill"></i>
                </a></h6>
        </div>
        <div class="card-body">
        </div>
    </div>

{% endblock %}
