$white:    #fff !default;
$gray-100: #f9fafc !default;
$gray-200: #f6f8fa !default;
$gray-300: #e1e4e8 !default;
$gray-400: #d1d5da !default;
$gray-500: #959da5 !default;
$gray-600: #6a737d !default;
$gray-700: #586069 !default;
$gray-800: #444d56 !default;
$gray-900: #2f363d !default;
$black:    #24292e !default;

$marine:    #1b1f23 !default;
$indigo:  #6610f2 !default;
$red: #d73a49 !default;
$darkred: #9e1c23 !default;
$pink:    #ea4aaa !default;
$darkpink: #99306f !default;
$orange: #f66a0a !default;
$darkorange: #c24e00 !default;
$yellow: #ffd33d !default;
$darkyellow: #b08800 !default;
$teal: #6EFACC !default;
$green: #28a745 !default;
$darkgreen: #165c26 !default;
$blue: #0366d6 !default;
$darkblue: #032f62 !default;
$purple: #6f42c1 !default;
$darkpurple: #3a1d6e !default;
$gray: #6a737d !default;
$darkgray: #2f363d !default;
$charcoal: #373333 !default;
$darkcharcoal: #171111 !default;


$primary:       $blue !default;
$secondary:     $gray-300 !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-200 !default;
$dark:          $marine !default;
