{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Pilon">
    {% include 'www/snippets/favicon.html' %}
    {% block additional_assets %}{% endblock %}

    {% include 'www/snippets/theme.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'www/font/font.css' %}">
    {% block extrahead %}{% endblock extrahead %}
    {% block window_title %}
        {% include "www/snippets/window_title.html" %}
    {% endblock window_title %}
</head>
<body class="bg-light">
<main class="outer-wrapper  bg-bluegray">
    {% block navigation %}
        {% include 'www/snippets/navigation.html' %}
    {% endblock %}
    {% block subnavigation %}{% endblock %}
    <div id="wrapper">
        {% block sidebar %}
        {% endblock %}
        <div id="page-content-wrapper" class="d-flex flex-column">
            <div id="content-container" class="rounded container-fluid mb-4 py-4 flex-grow-1">
                <span id="top-of-page"></span>
                {% block breadcrumbs %}
                {% endblock %}
                {% block title %}
                {% endblock %}
                <div class="container">
                    {% block content %}{% endblock %}
                    {% include "www/snippets/pagination.html" %}
                </div>
            </div>
            {% include 'www/snippets/footer.html' %}
        </div>
    </div>
</main>
<script src="{% static 'www/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'www/sidebar/mobile-sidebar.js' %}"></script>
<script src='{% static "www/jquery/jquery-3.5.1.min.js" %}'></script>

{% block jquery_scripts %}{% endblock %}
{% block additional_scripts_eob %}{% endblock %}
{% block extra_js %}{% endblock extra_js %}
</body>
</html>
