<div>
    <h3>{{ object.name }}</h3>
    <div class="text-muted small">
        {% include "www/snippets/metadata/labels.html" %}


        {#    <div class="pe-4 d-inline-block ">#}
        {#        <i class="bi bi-chat-left"></i>#}
        {#        <span>#}
        {#        {% if object.comments %}#}
        {#            {{ object.comments|length }}#}
        {#        {% else %}#}
        {#            No comments#}
        {#        {% endif %}#}
        {#        </span>#}
        {#    </div>#}
    </div>
</div>
