<div class="lh-1">
    <h2 class="display-4">{{ object.name }}</h2>
    <div class="text-muted small my-2">
        {% with user=object.creator %}
            {% include "www/snippets/metadata/creator.html" %} <i class="bi bi-dot"></i>

        {% endwith %}
        {% include "www/snippets/metadata/time.html" %}
        <i class="bi bi-dot"></i>
        {% include "www/snippets/metadata/labels.html" %}


        {#    <div class="pe-4 d-inline-block ">#}
        {#        <i class="bi bi-chat-left"></i>#}
        {#        <span>#}
        {#        {% if object.comments %}#}
        {#            {{ object.comments|length }}#}
        {#        {% else %}#}
        {#            No comments#}
        {#        {% endif %}#}
        {#        </span>#}
        {#    </div>#}
    </div>
</div>
