{% extends 'www/snippets/project/page_tree.html' %}
{% load static %}

{% block urls %}
    "javascript:editorPageTree.set_parent('{{ node.id }}', '{{ node.name }}')"
{% endblock %}

{% block form %}
            <div class="my-3">
                <span>Parent: </span>
                <a href="#" data-bs-toggle="modal" data-bs-target="#edit-parent-modal"><span
                        id="parentSpan">{{ parent.name }}</span></a>
                <input type="hidden" id="parentInput" name="parent" class=""
                       value="{{ parent.id }}">


                <div class="modal fade" id="edit-parent-modal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit parent</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="modal-body">

                                <link rel="stylesheet" type="text/css"
                                      href="{% static "www/toastui/tree/node_modules/tui-tree/dist/tui-tree.css" %}">
                                <script type="text/javascript">
                                    const editorPageTree = function () {
                                        function set_parent(id, name) {
                                            if (id !== "{{ object.id }}") {
                                                document.getElementById("parentSpan").innerHTML = name;
                                                document.getElementById("parentInput").setAttribute("value", id);
                                                bootstrap.Modal.getInstance(document.getElementById("edit-parent-modal")).hide()

                                            } else {

                                            }
                                        }
                                        return{
                                            set_parent:set_parent
                                        }
                                    }()
                                </script>

                                <div id="tree" class="tui-tree-wrap">
                                </div>


                            </div>
                            <div class="modal-footer justify-content-between">
                                <div>
                                    <a href='javascript:editorPageTree.set_parent("{{ project.id }}", "{{ project.name }}")'><i
                                            class="bi bi-record2"></i> Set as root page</a>
                                </div>
                                <div>

                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
{% endblock %}
